html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(88, 139, 139);
}

#banner {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(202, 204, 144, 1);
    position: flex;
    text-align: center;
    font-size: 150px;
    min-width: fit-content;

}

.block_container {
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 70px;
}

.leftBlock {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}


.rightBlock {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

#div-form {
    color: rgba(39, 48, 67);
    font-size: 24px;
    font-family: Bitter;

}

.leftBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#actual-list {
    display: flex;
    justify-content: right;
    color: rgba(39, 48, 67, 1);
    font-size: 24px;
    font-family: Bitter;


}