@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

* {
    text-transform: lowercase;
    font-family: 'Cormorant Garamond', serif;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=1753), auto;
    color: #383637;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBEAE4;
}

/* we learned about using keyframes helping with animations in CSS. This dictates the specific styles that should be applied at each part of the animation */
@keyframes marquee {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

/* this one is for browsers that use Webkit -- mostly Safari! So we could open on our phones */
@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }


    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

.marquee {
    width: 100vw;
    max-width: 100%;
    padding: 7px 0 7px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    z-index: 1;
    background: #038BA8;
}

.marquee__container {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 60s linear infinite;
    display: flex;
    align-items: center;
}

.marquee__item {
    margin: 0;
    padding: 0 20px;
    display: flex !important;
    align-items: center;
    font-size: 24px;
}


#banner {
    background-color: #EBEAE4;
    position: flex;
    text-align: center;
    font-size: 100px;
    min-width: fit-content;
    border-bottom: 10px #272838;
}

.block_container {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.leftBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    border-radius: 15px;
}

#div-form {
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4px;
    background-color: #6d9f71;
    border-radius: 15px;
    align-items: center;
    border: 2px solid black;
}

.form-input {
    border-radius: 5px;
    border: 2px;
    font-size: 20px;
    border: 1px solid black;
}

.leftBlock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid black;
}

.inspo_images {
    border: 2px solid black;
}

.rightBlock img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.rightBlock {
    text-align: center;
    background-color: #6d9f71;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border: 2px solid black;
}

.rightblock-information {
    margin-top: 20px;
}

.rightBlock p {
    font-size: 35px;
    margin: 10px;
    font-weight: bold;
}

.rightBlock .title {
    margin-top: 0;
}

.rightBlock .featuredImage {
    object-fit: contain;
    width: 100%;
    height: auto;
}


#actual-list {
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: left;
    background-color: #038BA8;
    border-radius: 15px;
    border: 2px solid black;
}

.title {
    font-size: 36px;
    text-decoration: underline;
    text-align: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

.activity,
.location,
.dateDue {
    margin-top: 40px;
}

.rightBlock p {
    font-size: 24px;
}

.checkbox-class {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    border-radius: 50px;
}

.label-class {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.label-class::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}

.checkbox-class:checked+.label-class::before {
    background-color: #6d9f71;
}

.label-class::after {
    content: "\2713";
    position: absolute;
    top: 4px;
    left: 5px;
    font-size: 14px;
    color: black;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.checkbox-class:checked+.label-class::after {
    opacity: 1;
}

#list-items {
    list-style-type: none;
}


.container_divs {
    position: relative;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}

.container_divs:hover .inspo_images {
    opacity: 0.3;
}

.container_divs:hover .middle {
    opacity: 1;
}

.middle_text {
    background-color: #038BA8;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 50px;
}

.btn {
    font-size: 18px;
    color: white;
    background-color: #038BA8;
    border: 5px solid #038BA8;
    border-radius: 15px;
}